.inputBox {
  @include text;
  border-radius: 50px;
  font-size: 0.7em;
  background-color: $third-color-light;
}
.memes {
  grid-column: 1/-1;
  margin-top: 100px;
  padding: 50px;
}
.pictureGrid {
  padding: 0 4px;
  flex: 25%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.imgGrid {
  width: 100%;
  justify-self: center;
  vertical-align: middle;
  margin-top: 8px;
}
